@import "colors.css";

* {
  all: unset;
}

* {
  font-family: "JetbrainsMono Nerd Font";
  font-size: 18px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@base, 0.95);
  border: 2px solid @border;
}

.preview-box {
}

.box {
  background: @base;
}

.search-container {
  background: @base;
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  box-shadow:
    inset 0 4px 6px rgba(0, 0, 0, 0.3),
    inset 0 -2px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.input:focus,
.input:active {
  box-shadow:
    inset 0 4px 6px rgba(0, 0, 0, 0.3),
    inset 0 -2px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.content-container {
  background: @base;
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
  background: alpha(@border, 0.1);
}

child:selected .item-box {
  background: alpha(@border, 0.2);
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  padding-left: 14px;
  margin: 6px 12px;
}

.item-text-box {
  all: unset;
  padding: 8px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
  background: @background;
  box-shadow:
    inset 0 4px 6px rgba(0, 0, 0, 0.3),
    inset 0 -2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
}
