---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build Hosts

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
    paths: &paths
      - "hosts/**"
      - "home/**"
      - "flake.nix"
      - "flake.lock"
      - "**.nix"
      - "!pkgs/**"
  push:
    branches: ["main"]
    paths: *paths

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Hosts
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.draft == false }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: wimpysworld/nothing-but-nix@v6
        with:
          hatchet-protocol: cleave
          nix-permission-edict: false

      - name: Setup Nix with caching
        uses: ./.github/actions/setup-nix
        with:
          binix-endpoint: https://nix-cache.plexuz.xyz
          binix-cache: ${{ secrets.BINIX_CACHE }}
          binix-token: ${{ secrets.BINIX_TOKEN }}
          skip-cache: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork }}

      - name: Build system
        id: build
        uses: ./.github/actions/nix-build
        with:
          target: hosts.thor
          build-type: system
