---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Flake Check
on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  flake-check:
    name: Nix Flake Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Nix with caching
        uses: ./.github/actions/setup-nix
        with:
          skip-cache: true

      - name: Nix Flake Check
        run: nix flake check
