name: Prune Workflows

on:
  schedule:
    - cron: "0 0 * * *" # Daily at midnight UTC
  push:
    branches: ["main"]
    paths: [".github/workflows/prune-workflows.yaml"]
  workflow_dispatch:
    inputs:
      successful_runs_to_keep:
        description: "Number of successful runs to keep"
        required: false
        default: 6
      failed_runs_to_keep:
        description: "Number of failed runs to keep"
        required: false
        default: 2
      delete_workflow_pattern:
        description: "Name or filename of the workflow (if not set, all workflows are targeted)"
        required: false
      dry_run:
        description: "Dry run mode (if true, no runs will be deleted)"
        required: false
        type: boolean
        default: false

concurrency:
  group: prune-workflows
  cancel-in-progress: false

jobs:
  del_runs:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Delete old successful workflow runs
        uses: Mattraks/delete-workflow-runs@5bf9a1dac5c4d041c029f0a8370ddf0c5cb5aeb7 # v2.1.0
        with:
          token: "${{ steps.app-token.outputs.token }}"
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: ${{ inputs.successful_runs_to_keep || 6 }}
          delete_workflow_pattern: ${{ inputs.delete_workflow_pattern || '' }}
          delete_run_by_conclusion_pattern: success
          dry_run: ${{ inputs.dry_run || false }}

      - name: Delete old failed workflow runs
        uses: Mattraks/delete-workflow-runs@5bf9a1dac5c4d041c029f0a8370ddf0c5cb5aeb7 # v2.1.0
        with:
          token: "${{ steps.app-token.outputs.token }}"
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: ${{ inputs.failed_runs_to_keep || 2 }}
          delete_workflow_pattern: ${{ inputs.delete_workflow_pattern || '' }}
          delete_run_by_conclusion_pattern: failure
          dry_run: ${{ inputs.dry_run || false }}
